@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black:#000;
$white:#fff;

$blue:#043846;
$green:#1ec364;
$beige:#b0c1ad;

$font-primary:'Montserrat',sans-serif;

$radius:4px;
$transition:.35s;